{% extends "layout.html" %} 
{% block title %} | Makaleler {% endblock %} 
{% block body %} 
  {% if article %}
    <h4>{{article.title}}</h4>
    <hr />
    Yazar : {{article.author}}
    <hr />
    Tarih : {{article.created_date}}
    <hr />
    {{article.content|safe}} 
  {% else %}
    <div class="alert alert-warning">Böyle bir makale bulunmuyor...</div>
  {% endif %} 
{% endblock body %}
